@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins";
}

.profile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar {
    background-color: white;
    width: 6px;
    border-radius: 99px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));

    border-radius: 3px;
}
